name: Deploy to sandbox

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest changes
        uses: actions/checkout@v3

      - name: Deploy changes via ftp
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.sblik.com
          port: 21
          username: ${{ secrets.FTP_LIVE_USERNAME }}
          password: ${{ secrets.FTP_LIVE_PASSWORD }}
          server-dir: /
          exclude: |
            **/exclude/**
            **/.github/**
